.detailContainer{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.titulodetalles, .detalles, .preciodetalles, .descriptiondetalles
,h3{
    margin: auto;
    padding: 1%;
}

.detallesImg{
    margin: auto;
    padding: 1%;
}

.botonVolver{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    color: white;
    background: none;
    background-color: #1d9969;
    display: inline;
    justify-content: center;
    margin: auto;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 5px;
    border-color: #000000;
}
.botonVolver:hover{
    cursor: pointer;
    background-color: #20E69A;
}