.cartContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #e6b84e86;
}

.botonSeguirComprando{
    margin: auto;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    color: white;
    background: none;
    background-color: #1d9969;
    display: inline;
    justify-content: center;
    padding: 0.5%;
    border-radius: 5px;
    border-color: #000000;
}

.divBoton{
    margin-top: 50px;
}

.background-modal{
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 25px;
    border-color: #000000;
}

.textoModal{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin: 20px;
    padding: 1%;
}

.botonModal{
    margin: auto;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    color: white;
    background: none;
    background-color: #99211d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5%;
    border-radius: 5px;
    border-color: #000000;
}

.botonSeguirComprando:hover{
    cursor: pointer;
    background-color: #20E69A;
}
.botonModal:hover
,.botonModalX:hover{
    cursor: pointer;
    background-color: #99211d85;
}

.botonModalX{
    margin: 4%;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 15px;
    color: white;
    background: none;
    background-color: #99211d;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.divTopContainer{
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}