.itemStyle{
    background-color: #e6b84e86;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloItem{
    margin: auto;
    padding: 1%;
}

.itemImg{
    margin: auto;
    padding: 1%;
}

.botonDetalles{
    margin: auto;
    margin-bottom: 3px;
    padding: 1%;
    background: none;
    background-color: #1D9969;
    width: 20%;
}

.precioitems{
    margin: auto;
    padding: 1%;
}