.itemStyle{
    background-color: #e6b84e86;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px #997b35;
}

.tituloItem{
    margin: auto;
    padding: 1%;
}

.itemImg{
    margin: auto;
    padding: 1%;
}

.botonDetalles{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    color: white;
    background: none;
    background-color: #1d9969;
    display: inline;
    justify-content: center;
    margin: auto;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 5px;
    border-color: #000000;
}
.botonDetalles:hover{
    cursor: pointer;
    background-color: #20E69A;
}

.precioitems{
    margin: auto;
    padding: 1%;
}