.navStyle{
    background-color: #1d9969;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.ulNav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin: auto;
}

.liNav{
    padding: 10px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    background-color: #7a642bd7;
    color: rgb(255, 255, 255);
}
.inactiveNav{
    padding: 10px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    background-color: #c4ab73e0;
    color: rgb(255, 255, 255);
}

.botonNav{
    border-radius: 100px;
    cursor: pointer;
}

.botonesNav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}